<p>Форма добавления машин</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<p *ngIf="!addCarStatus; else saccessStatus">Машина не добавлена</p>
<ng-template #saccessStatus>
<p>Машина добавлена</p>
</ng-template>
<hr>
<div class="list-group">
    <app-car class="list-group-item" *ngFor="let car of carsYears" [carItem]="car"></app-car>
</div>

<!-- машины -->
<ul>
    <li *ngFor="let car of cars; let index = index">
        <div 
            [ngStyle]="{color: (index+1) % 2 === 0 ? 'red' : 'black'}"
            [ngClass]="{'big-text': setBigCarText(car)}">
            <b>{{index + 1}}</b> - {{car}}
        </div>
        
    </li>
</ul>

<input type="text" class="form-control" (keyup.enter)="addText($event)">
<hr>
<p>{{inputText}}</p>