<input type="text" class="form-cotrol" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<p *ngIf="!addCarStatus; else saccessStatus">Машина не добавлена</p>
<ng-template #saccessStatus>
<p>Машина добавлена</p>
</ng-template>
<hr>
<!-- <app-car *ngFor="let car of cars"></app-car> -->
<!-- машины -->
<ul>
    <li *ngFor="let car of cars; let index = index">
        <div 
            [ngStyle]="{color: (index+1) % 2 === 0 ? 'red' : 'black'}"
            [ngClass]="{'big-text': setBigCarText(car)}">
            <b>{{index + 1}}</b> - {{car}}
        </div>
        
    </li>
</ul>

<!-- дата -->
<ul>
        <li *ngFor="let date of dates; let index = index">
            <div>
                <b>{{index + 1}}</b> - {{date | date}}
            </div>
            
        </li>
    </ul>
<hr>

<input type="text" class="form-control" (keyup.enter)="addText($event)">
<hr>
<input type="text" class="form-control" [(ngModel)]="inputText">

<p>{{inputText}}</p>